/build/*
!/build/windows/
/build/windows/*
!/build/windows/installer/
/build/windows/installer/*
!/build/windows/installer/project.nsi
!/build/darwin/
/build/darwin/*
!/build/darwin/Info.plist
!/build/darwin/Info.dev.plist
!/build/darwin/dmg-background.png
!/build/darwin/dmg-background.svg
/frontend/wailsjs/
